$app_max_width: 960px;
$test_border:1px solid #efefef;

//loader
$loader_width:100px;
$loader_height:$loader_width;
$loader_padding:50px;

//header
$header_height:40px;
$header_padding:10px;

//nav
$nav_height:70px;
$nav_padding:10px;
$nav_buttons_width:80px;

//section
$section_min_height:200px;
$section_padding:10px;
$section_margin:20px;

//product
$product_width: 300px;
$product_height: $product_width;
$product_margin: 5px;
$product_title_height:50px;

